<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mpl.GrowthStud">

    <permission
        android:name="com.max_plus.homedooropenplate.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- Required -->
    <uses-permission android:name="com.max_plus.homedooropenplate.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/android_family_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:replace="android:theme">
        <activity
            android:name=".Student.Activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Student.Activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- <provider -->
        <!-- android:name="android.support.v4.content.FileProvider" -->
        <!-- android:authorities="com.mpl.GrowthStud.fileprovider" -->
        <!-- android:grantUriPermissions="true" -->
        <!-- android:exported="false"> -->
        <!-- <meta-data -->
        <!-- android:name="android.support.FILE_PROVIDER_PATHS" -->
        <!-- android:resource="@xml/file_paths" /> -->
        <!-- </provider> -->

        <activity
            android:name=".Student.Activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Student.Activity.ChooseGradeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Student.Activity.ActivateKinderStdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Student.Activity.ActivateOtherStdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Student.Activity.EvaluateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Student.Activity.EchievementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Student.Activity.RoadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Student.Activity.WenziActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Student.Activity.TuWenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Student.Activity.PlusImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Student.Activity.VideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Student.Activity.VideoRecorderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Student.Activity.VideoPlayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Student.Activity.QuestionnaireActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Student.Activity.SyatemAchieveActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Student.Activity.WenZiInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Student.Activity.TuWenInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Student.Activity.VideoInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Student.Activity.GetStarInfoInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Student.Activity.GetScoreInfoInfoActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>