<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mpl.GrowthStud">

    <permission
        android:name="com.mpl.GrowthStud.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="com.mpl.GrowthStud.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- Required -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- Optional for location -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />

    <application
        android:name=".Student.Activity.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/android_family_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:replace="android:theme">
        <activity
            android:name=".Student.Activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Student.Activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- <provider -->
        <!-- android:name="android.support.v4.content.FileProvider" -->
        <!-- android:authorities="com.mpl.GrowthStud.fileprovider" -->
        <!-- android:grantUriPermissions="true" -->
        <!-- android:exported="false"> -->
        <!-- <meta-data -->
        <!-- android:name="android.support.FILE_PROVIDER_PATHS" -->
        <!-- android:resource="@xml/file_paths" /> -->
        <!-- </provider> -->
        <!-- Rich push 核心功能 since 2.0.6 -->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:exported="false"
            android:theme="@style/MyDialogStyle" />

        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.mpl.GrowthStud" />
            </intent-filter>
        </activity>

        <!-- Required SDK 核心功能 -->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:exported="false"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>
        <!-- since 3.0.9 Required SDK 核心功能 -->
        <provider
            android:name="cn.jpush.android.service.DataProvider"
            android:authorities="com.mpl.GrowthStud.DataProvider"
            android:exported="false"
            android:process=":pushcore" />
        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" /> <!-- Required  显示通知栏 -->
                <category android:name="com.mpl.GrowthStud" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" />
        <!-- User defined.  For test only  用户自定义的广播接收器 -->
        <receiver
            android:name=".Student.Tools.MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" /> <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.mpl.GrowthStud" />
            </intent-filter>
        </receiver>
        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="f1cdfc638afc09b9a5d50e41" /> <!-- </>值来自开发者平台取得的AppKey -->

        <activity
            android:name=".Student.Activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Student.Activity.ChooseGradeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Student.Activity.ActivateKinderStdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Student.Activity.ActivateOtherStdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Student.Activity.EvaluateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Student.Activity.EchievementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Student.Activity.RoadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Student.Activity.WenziActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Student.Activity.TuWenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Student.Activity.PlusImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Student.Activity.VideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Student.Activity.VideoRecorderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Student.Activity.VideoPlayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Student.Activity.QuestionnaireActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Student.Activity.SyatemAchieveYouActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Student.Activity.WenZiInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Student.Activity.TuWenInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Student.Activity.VideoInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Student.Activity.GetStarInfoInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Student.Activity.GetScoreInfoInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Student.Activity.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Student.Activity.ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Student.Activity.SetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Student.Activity.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Student.Activity.ParentsAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Student.Activity.BundleParentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Student.Activity.MessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Student.Activity.MessageInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Student.Activity.GuideActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Student.Activity.QuestionInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Parent.Activity.ActiveParentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Parent.Activity.VerifyCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Parent.Activity.PMainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Parent.Activity.PChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Parent.Activity.PSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Parent.Activity.ChangePsdVerifyCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Parent.Activity.PSetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Parent.Activity.PStudentAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Parent.Activity.AddChildActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Parent.Activity.PWenZiCheckActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Parent.Activity.PTuWenCheckActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Parent.Activity.PVideoCheckActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Parent.Activity.PEvaluateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Parent.Activity.PGetStarInfoInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Parent.Activity.PGetScoreInfoInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Parent.Activity.PEchievementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Parent.Activity.AlbumMakingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Student.Activity.SyatemAchieveYouInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Student.Activity.SyatemAchieveXiaoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Student.Activity.SyatemAchieveXiaoInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Student.Activity.SyatemAchieveChuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Student.Activity.SyatemAchieveChuInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Student.Activity.FormActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Student.Activity.FormInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Student.Activity.MixtureActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>